
/data/**/*.jpg
/data/**/*.jpeg
/data/**/*.bmp
/data/**/*.JPG
/data/**/*.JPEG
/data/**/*.BMP

/dist/*
/build/*
*.pyc
modules/__pycache__/
modules/**/__pycache__/
__pycache__/*.pyc

# temp outputs
data/temp_frames/

/venv/
/.venv/
env/
/tools and other/
tools and other/